body {
  margin: 0%;
  padding: 0%;
  background-color: #000;
}

.container {
  font-family: "Arial", Helvetica, sans-serif;
  padding: 1%;
  font-weight: bold;
  position: absolute;
  color: white;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 12vw;
  white-space: nowrap;
}