$sexy-black:#000;
$principal-font: "Arial",Helvetica, sans-serif;

body{
    margin: 0%;
    padding: 0%;
    background-color: $sexy-black;
}
.container{
    font-family: $principal-font;
    padding: 30px;
    font-weight: bold;
    position: absolute;
    color: white;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 150px;
    white-space: nowrap;

}